<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=23.1.0.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>

	<oracle.manageddataaccess.client>
		<settings>
			<setting name="TraceFileLocation" value="c:\Projects\Syrx\tests\integration\" />
			<setting name="TraceFileName" value="C:\odpnet2.trc" />
			<setting name="TraceLevel" value="1" />
		</settings>
	</oracle.manageddataaccess.client>
</configuration>
